* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.contenedor {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: minmax(87px, 87px) auto;
    grid-template-rows: 60px auto;
    grid-template-areas: "header header" "menu contenido";
    transition: all .3s ease;
}

.contenedor.active {
        grid-template-columns: minmax(250px, 10%) auto;
    }

/*-------------------------------------------------HEADER------------------------------------------------*/

.header {
    background: #aeefd2;
    grid-area: header;
    padding: 0 20px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-content: space-between;
    grid-gap: 20px;
    grid-template-areas: "logo busqueda iconos";
    color: #49ad7f;
}

.header .contenedor-logo {
    grid-area: logo;
    display: flex;
    align-items:center;
}

.header .contenedor-logo .boton-menu {
    border: none;
    padding: 10px;
    background: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    margin-right: 50px;
    color: #4c9776;
    transition: background .2s ease;
}

    .header .contenedor-logo .boton-menu:hover {
        background: white;
        color: #49ad7f;
    }

    .header .contenedor-logo .logo .fas {
        color: #4c9776;
        padding: 7px 12px;
        border-radius: 4px;
        font-size: 20px;
        position: relative;
        margin-right: 4px;
    }

    .header .contendor-logo logo{
        font-family: 'bebas neue', cursive;
        font-size: 20px;
        position: relative;
        bottom: 100px;
        letter-spacing: 2px;
    }
        .header .contendor-logo logo span {
            letter-spacing: 2px;
        }

    .header .barra-busqueda {
        grid-area: busqueda;
        display: flex;
        align-items: center;
        justify-content:center;
    }

.header .botones-header {
    grid-area: iconos;
    display: flex;
    align-items: center;

}
.header .botones-header a{
    background: none;
    border: none;
    width: 43px;
    height: 43px;
    font-size: 18px;
    padding: 7px 10px;
    border-radius: 100px;
    color:#4c9776;
    margin-right: 20px;
    cursor: pointer;
    transition: background .3s ease;

}

.header .botones-header a:hover{
    background: white;
    color:#49ad7f;
}

.header .botones-header a.dev i{
    font-size:25px;
    padding-left:15%;
}

.header .botones-header .avatar{
    background: none;
    border: none;
    width: 40px;
    height: 40px;
    display: inline-block;
}

.header .botones-header .avatar img{
    vertical-align: top;
    width: 100%;
    border-radius: 100px;
}

.header a:link {
    color: #49ad7f;
    font-family: 'bebas neue', cursive;
    font-size: 24px;
    text-decoration:none;
}

.header a:visited {
    color: #3EAE7B;
}

.header a:active {
    color: #353441;
}

.header a:hover {
    color: #4c9776
;
}


/*-------------------------------------------------NAVEGACION------------------------------------------------*/

.menu-lateral {
    grid-area: menu;
    background: #dbfbed;
    overflow: hidden;
}
.menu-lateral a{
    display: block;
    padding: 15px 35px;
    color: #353441;
    text-decoration:none;
    font-size: 20px;
    min-width:800px;
    transition: all .2s ease;
}

.menu-lateral a.active{
    color: white;
}

.menu-lateral a:hover{
    background: #3EAE7B;
    color:white;
    font-weight:bold;
}

.menu-lateral a.active{
    background: #3EAE7B;
    font-weight: bold;
}

.menu-lateral .far{
    margin-right: 32px;
    width: 20px;
    text-align: center;
    color: #353441;
}

.menu-lateral a.active .far{
   color: white;
   font-weight: bold;
}

.menu-lateral  hr{
    margin: 20px 0;
    border: 1px solid #dfdfdf;
}

/*-------------------------------------------------MAIN------------------------------------------------*/

.main {
    grid-area: contenido;
    background: #f9f9f9;
    padding: 40px;
}

.main .titulo{
    margin-bottom: 20px;
}

.main-inicio {
    grid-area: contenido;
    max-width: 100%;
    background: #f9f9f9;
    display: grid;
    animation: principal 2s ease;
    grid-template-rows:930px auto;
    grid-template-areas: "video" "contenido-main";
}

.main-inicio .cont-main{
    padding:20px;
}

.main .grid-video {
    grid-area: video;
    max-width: 100%;
}

.main .grid-video video{
    position:fixed;
    max-width:100px;
}

.main .grid-imagenes{
    display:grid;
    grid-gap:40px 20px;
    grid-template-columns: repeat(4, 1fr);
}

.main .grid-imagenes a{
    width: 100%;
    display:block;
    transition: all .2s ease;
    padding-bottom: 3px;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    justify-content: center;
    vertical-align:central;
    color: #353441;
}

.main .grid-imagenes a:hover{
    -webkit-box-shadow: 0px 0px 35px -4px rgba(117,129,132,0.92);
    -moz-box-shadow: 0px 0px 35px -4px rgba(117,129,132,0.92);
    box-shadow: 0px 0px 35px -4px rgba(117,129,132,0.92);
    border-radius: 10px;
    font-weight: bolder;
}

.main .grid-imagenes a img{
    width: 98%;
    border-radius: 5px;
    transition: all .2s ease;
}

.main .grid-imagenes a img:hover{
    width: 100%;
}

.main .grid-imagenes a{
    text-decoration:none;
    font-size: 25px;
    text-align: center;
}

    .main-inicio .overlay {
        background: rgba(23,0,32,.5);
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        visibility: hidden;
    }

.main-inicio .overlay.active{
    visibility:visible;
}

.popup{
    background:#f8f8f8;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,.3);
    border-radius: 15px;
    padding:20px;
    text-align:center;
    width:600px;
}
.popup img{
    width:100%;
    border-radius: 15px;
}
.popup .cerrar{
    padding-bottom:5px;
    font-size:20px;
    line-height:16px;
    display:block;
    text-align:right;
    color: #BBBBBB;
    transition: all .2s ease;
}
.popup .cerrar:hover{
    color: #170022;
}
/*-------------------------------------------------LOVING YOU------------------------------------------------*/
.main .grid-dibujo{
    display:flex;
    align-content:center; 
    justify-content: center;
}

.main .grid-dibujo img{
    max-width: 90%;
    min-width:60%;
    border-radius:20px;
    border: solid rgba(0,33,65,1);
    transition: all .1s ease;
}

.main .grid-dibujo img:hover{
    border: 6px solid rgba(0,33,65,1);
}

.main .grid-dibujo video{
    max-width: 100%;
    min-width: 400px;
}
/*-------------------------------------------------ADAPTADORES------------------------------------------------*/

@media screen and (max-width: 1200px){
    .main .grid-imagenes{
        grid-template-columns: repeat(3, 1fr);
    }

    .header .barra-busqueda input{
        min-width: 50%;
    }
}

@media screen and (max-width: 992px){
    .main .grid-imagenes {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 820px) {
    .contenedor {
        grid-template-rows: auto;
    }

    .header {
        padding: 20px;
        grid-template-columns: auto auto;
        justify-content: space-between;
        grid-template-areas:"logo iconos" "busqueda busqueda";
    }

    .header .barra-busqueda input{
        min-width: auto;
        width:100%; 
    }
}

@media screen and (max-width: 576px){
    .main .grid-imagenes {
        grid-template-columns: repeat(1, 1fr);
    }
}

@keyframes principal{
    0%{grid-template-rows: 60px auto;}
    0%{color:white;}
    65%{color:white;}
    100% {grid-template-rows: 930px auto;}
    100%{color:black;}
}